In [221]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf
from zipfile import ZipFile

# Load the data

In [151]:
DATA_PATH = "../00_source_data"
arrests_data = os.path.join(DATA_PATH, 'ucr_arrests_monthly_all'
                                       '_crimes_race_sex_1974_2020_dta.zip')

zip_file = ZipFile(arrests_data)
dfs = {text_file.filename: pd.read_stata(zip_file.open(text_file.filename))
       for text_file in zip_file.infolist()
       if text_file.filename.endswith('.dta')}
zip_file.close()

In [152]:
print(dfs.keys())
arrests_2019 = dfs['ucr_arrests_monthly_all_crimes_race_sex_2019.dta'].copy()
arrests_2020 = dfs['ucr_arrests_monthly_all_crimes_race_sex_2020.dta'].copy()
print(arrests_2019.shape)
print(arrests_2020.shape)

dict_keys(['ucr_arrests_monthly_all_crimes_race_sex_2019.dta', 'ucr_arrests_monthly_all_crimes_race_sex_2020.dta'])
(233476, 1227)
(236468, 1233)

In [153]:
zip_file = ZipFile(os.path.join(DATA_PATH, 'crime.zip'))
dfs = {text_file.filename: pd.read_csv(zip_file.open(text_file.filename))
       for text_file in zip_file.infolist()
       if text_file.filename.endswith('.csv')}
zip_file.close()

In [154]:
print(dfs.keys())
crime_data = dfs['crime.csv'].copy()
offense_codes = dfs['offense_codes.csv'].copy()
print(crime_data.shape)
print(offense_codes.shape)

dict_keys(['crime.csv', 'offense_codes.csv'])
(473344, 19)
(299, 9)

# Preprocessing

In [155]:
arrests_2019_cols = set(arrests_2019.columns)
arrests_2020_cols = set(arrests_2020.columns)
print(arrests_2019_cols.difference(arrests_2020_cols))
print("*" * 50)
print(arrests_2020_cols.difference(arrests_2019_cols))
print("*" * 50)
print(len(arrests_2020_cols.intersection(arrests_2019_cols)))

set()
**************************************************
{'address_city', 'address_state', 'address_street_line_1', 'address_street_line_2', 'address_name', 'address_zip_code'}
**************************************************
1227

In [156]:
columns_to_remove = list(arrests_2020_cols.difference(arrests_2019_cols))
arrests_2020.drop(columns_to_remove, axis=1, inplace=True)
assert arrests_2019.shape[1] == arrests_2020.shape[1]

In [157]:
arrests_2020.head()

,ori,ori9,population,agency_name,year,month,state,state_abb,population_group,country_division,...,weapons_tot_male,weapons_tot_male_adult,weapons_tot_male_juv,weapons_tot_non_hisp,weapons_tot_white,juv_handled_within_department,juv_referred_to_juv_court,juv_referred_to_welfare,juv_referred_to_police,juv_referred_to_crim_court
0,AK00101,AK0010100,286388,anchorage,2020,april,alaska,AK,"city 250,000 thru 499,999",pacific,...,13,12,1,0,9,0,0,0,0,0
1,AK00101,AK0010100,286388,anchorage,2020,august,alaska,AK,"city 250,000 thru 499,999",pacific,...,6,4,2,0,2,0,0,0,0,0
2,AK00101,AK0010100,286388,anchorage,2020,december,alaska,AK,"city 250,000 thru 499,999",pacific,...,6,6,0,0,3,0,0,0,0,0
3,AK00101,AK0010100,286388,anchorage,2020,february,alaska,AK,"city 250,000 thru 499,999",pacific,...,11,8,3,0,6,0,0,0,0,0
4,AK00101,AK0010100,286388,anchorage,2020,january,alaska,AK,"city 250,000 thru 499,999",pacific,...,14,13,1,0,7,0,0,0,0,0

In [160]:
arrests_2020_filtered = arrests_2020.query("state_abb == 'CO'").copy()
arrests_2019_filtered = arrests_2019.query("state_abb == 'CO'").copy()

In [161]:
arrests_2020.loc[(arrests_2020['fips_state_county_code'] == '') &
                 (arrests_2020['agency_name'] == 'us secret service, denve'), 'fips_state_county_code'] = '08031'

In [162]:
arrests_2019.loc[(arrests_2019['fips_state_county_code'] == '') &
                 (arrests_2019['agency_name'] == 'us secret service, denve'), 'fips_state_county_code'] = '08031'

In [163]:
arrests_2020_filtered = arrests_2020_filtered.query("fips_state_county_code in ['08031', '08013', '08014']").copy()
arrests_2019_filtered = arrests_2019_filtered.query("fips_state_county_code in ['08031', '08013', '08014']").copy()
print(arrests_2020_filtered.shape)
print(arrests_2019_filtered.shape)

(144, 1227)
(156, 1227)

In [167]:
general_cols = arrests_2020_filtered.columns.to_list()[:14]
arrest_cols = [col for col in arrests_2020_filtered.columns if 'tot_arrest' in col]
arrests_2020_filtered = arrests_2020_filtered[general_cols + arrest_cols]
arrests_2019_filtered = arrests_2019_filtered[general_cols + arrest_cols]

In [168]:
arrests_df = pd.concat([arrests_2019_filtered, arrests_2020_filtered], axis=0)
print(arrests_df.shape)

(300, 57)

In [169]:
arrests_df.head()

,ori,ori9,population,agency_name,year,month,state,state_abb,population_group,country_division,...,sale_heroin_coke_tot_arrests,sale_other_drug_tot_arrests,sale_synth_narc_tot_arrests,stolen_prop_tot_arrests,suspicion_tot_arrests,theft_tot_arrests,total_drug_tot_arrests,vagrancy_tot_arrests,vandalism_tot_arrests,weapons_tot_arrests
14839,CO00700,CO0070000,58601,boulder,2019,april,colorado,CO,"msa-county 25,000 thru 99,999",mountain,...,2,0,0,0,0,9,18,0,2,0
14840,CO00700,CO0070000,58601,boulder,2019,august,colorado,CO,"msa-county 25,000 thru 99,999",mountain,...,2,0,0,0,0,6,8,0,3,0
14841,CO00700,CO0070000,58601,boulder,2019,december,colorado,CO,"msa-county 25,000 thru 99,999",mountain,...,3,0,0,0,0,12,8,0,5,0
14842,CO00700,CO0070000,58601,boulder,2019,february,colorado,CO,"msa-county 25,000 thru 99,999",mountain,...,2,0,0,0,0,2,9,0,5,0
14843,CO00700,CO0070000,58601,boulder,2019,january,colorado,CO,"msa-county 25,000 thru 99,999",mountain,...,0,0,0,0,0,2,9,0,0,0

In [170]:
arrests_agg = (arrests_df
               .groupby(['month', 'year', 'fips_state_county_code'], as_index=False)[arrest_cols].sum())

In [178]:
population_norm = (arrests_df
                   .groupby(['month', 'year', 'fips_state_county_code', 'fips_place_code'], as_index=False)[
                       'population']
                   .max()
                   .groupby(['month', 'year', 'fips_state_county_code'], as_index=False)[['population']]
                   .sum())

In [180]:
merged = pd.merge(arrests_agg, population_norm, on=['month', 'year', 'fips_state_county_code'])
print(merged.shape)

(72, 47)

In [181]:
merged.head()

,month,year,fips_state_county_code,agg_assault_tot_arrests,all_other_tot_arrests,arson_tot_arrests,burglary_tot_arrests,curfew_loiter_tot_arrests,disorder_cond_tot_arrests,drunkenness_tot_arrests,...,sale_other_drug_tot_arrests,sale_synth_narc_tot_arrests,stolen_prop_tot_arrests,suspicion_tot_arrests,theft_tot_arrests,total_drug_tot_arrests,vagrancy_tot_arrests,vandalism_tot_arrests,weapons_tot_arrests,population
0,april,2019,08013,18,532,1,12,0,24,0,...,0,0,3,0,105,57,0,22,5,317073
1,april,2019,08014,1,31,0,2,0,1,0,...,4,0,0,0,43,26,0,5,0,70798
2,april,2019,08031,143,848,1,38,26,62,0,...,5,1,12,0,196,350,2,98,73,728941
3,april,2020,08013,23,179,7,21,0,9,0,...,1,0,0,0,71,9,0,19,3,315516
4,april,2020,08014,1,11,0,0,0,0,0,...,0,0,1,0,18,3,0,3,1,71795

In [182]:
violent_crime = ['agg_assault_tot_arrests', 'arson_tot_arrests', 'burglary_tot_arrests',
                 'manslaught_neg_tot_arrests', 'murder_tot_arrests', 'oth_assault_tot_arrests',
                 'oth_sex_off_tot_arrests', 'rape_tot_arrests', 'robbery_tot_arrests']
non_violent = list(set(arrest_cols).difference(set(violent_crime)))
print(len(violent_crime))
print(len(non_violent))
print(len(arrest_cols))

9
34
43

# EDA

In [185]:
merged.head()

,month,year,fips_state_county_code,agg_assault_tot_arrests,all_other_tot_arrests,arson_tot_arrests,burglary_tot_arrests,curfew_loiter_tot_arrests,disorder_cond_tot_arrests,drunkenness_tot_arrests,...,sale_other_drug_tot_arrests,sale_synth_narc_tot_arrests,stolen_prop_tot_arrests,suspicion_tot_arrests,theft_tot_arrests,total_drug_tot_arrests,vagrancy_tot_arrests,vandalism_tot_arrests,weapons_tot_arrests,population
0,april,2019,08013,18,532,1,12,0,24,0,...,0,0,3,0,105,57,0,22,5,317073
1,april,2019,08014,1,31,0,2,0,1,0,...,4,0,0,0,43,26,0,5,0,70798
2,april,2019,08031,143,848,1,38,26,62,0,...,5,1,12,0,196,350,2,98,73,728941
3,april,2020,08013,23,179,7,21,0,9,0,...,1,0,0,0,71,9,0,19,3,315516
4,april,2020,08014,1,11,0,0,0,0,0,...,0,0,1,0,18,3,0,3,1,71795

In [192]:
non_violent_df = merged[['month', 'year', 'fips_state_county_code', 'population'] + non_violent].copy()
print(non_violent_df.shape)

(72, 38)

In [194]:
non_violent_df['grand_total'] = np.sum(merged[non_violent], axis=1)
non_violent_df['arrest_rate_gt'] = non_violent_df['grand_total'] / non_violent_df['population'] * 100_000
non_violent_df.head()

,month,year,fips_state_county_code,population,fraud_tot_arrests,weapons_tot_arrests,gamble_bookmake_tot_arrests,drunkenness_tot_arrests,curfew_loiter_tot_arrests,poss_drug_total_tot_arrests,...,gamble_lottery_tot_arrests,gamble_total_tot_arrests,suspicion_tot_arrests,vagrancy_tot_arrests,theft_tot_arrests,sale_synth_narc_tot_arrests,sale_other_drug_tot_arrests,total_drug_tot_arrests,grand_total,arrest_rate_gt
0,april,2019,08013,317073,11,5,0,0,0,49,...,0,0,0,0,105,0,0,57,1038,327.369407
1,april,2019,08014,70798,6,0,0,0,0,21,...,0,0,0,0,43,0,4,26,176,248.594593
2,april,2019,08031,728941,33,73,0,0,26,306,...,0,0,0,2,196,1,5,350,3227,442.697008
3,april,2020,08013,315516,4,3,0,0,0,8,...,0,0,0,0,71,0,1,9,400,126.776455
4,april,2020,08014,71795,2,1,0,0,0,2,...,0,0,0,0,18,0,0,3,52,72.428442

In [210]:
non_violent_df['year'] = non_violent_df['year'].astype(str)
non_violent_df['day'] = "01"

In [211]:
non_violent_df['month'] = non_violent_df.month.str.capitalize()

In [215]:
non_violent_df['date'] = pd.to_datetime(non_violent_df.year +
                                        "-" + non_violent_df.month +
                                        "-" + non_violent_df.day,
                                        format="%Y-%B-%d")
non_violent_df.head()

,month,year,fips_state_county_code,population,fraud_tot_arrests,weapons_tot_arrests,gamble_bookmake_tot_arrests,drunkenness_tot_arrests,curfew_loiter_tot_arrests,poss_drug_total_tot_arrests,...,suspicion_tot_arrests,vagrancy_tot_arrests,theft_tot_arrests,sale_synth_narc_tot_arrests,sale_other_drug_tot_arrests,total_drug_tot_arrests,grand_total,arrest_rate_gt,day,date
0,April,2019,08013,317073,11,5,0,0,0,49,...,0,0,105,0,0,57,1038,327.369407,01,2019-04-01
1,April,2019,08014,70798,6,0,0,0,0,21,...,0,0,43,0,4,26,176,248.594593,01,2019-04-01
2,April,2019,08031,728941,33,73,0,0,26,306,...,0,2,196,1,5,350,3227,442.697008,01,2019-04-01
3,April,2020,08013,315516,4,3,0,0,0,8,...,0,0,71,0,1,9,400,126.776455,01,2020-04-01
4,April,2020,08014,71795,2,1,0,0,0,2,...,0,0,18,0,0,3,52,72.428442,01,2020-04-01

In [219]:
post_treatment = "2020-June-01"
treatment_group = "08031"
non_violent_df['post_treatment'] = np.where(non_violent_df['date'] >= post_treatment, 1, 0)
non_violent_df['treatment'] = np.where(non_violent_df['fips_state_county_code'] == treatment_group, 1, 0)
non_violent_df.head()

,month,year,fips_state_county_code,population,fraud_tot_arrests,weapons_tot_arrests,gamble_bookmake_tot_arrests,drunkenness_tot_arrests,curfew_loiter_tot_arrests,poss_drug_total_tot_arrests,...,theft_tot_arrests,sale_synth_narc_tot_arrests,sale_other_drug_tot_arrests,total_drug_tot_arrests,grand_total,arrest_rate_gt,day,date,post_treatment,treatment
0,April,2019,08013,317073,11,5,0,0,0,49,...,105,0,0,57,1038,327.369407,01,2019-04-01,0,0
1,April,2019,08014,70798,6,0,0,0,0,21,...,43,0,4,26,176,248.594593,01,2019-04-01,0,0
2,April,2019,08031,728941,33,73,0,0,26,306,...,196,1,5,350,3227,442.697008,01,2019-04-01,0,1
3,April,2020,08013,315516,4,3,0,0,0,8,...,71,0,1,9,400,126.776455,01,2020-04-01,0,0
4,April,2020,08014,71795,2,1,0,0,0,2,...,18,0,0,3,52,72.428442,01,2020-04-01,0,0

In [222]:
non_violent_df = non_violent_df.query("fips_state_county_code in ['08031', '08014']")

In [223]:
non_violent_df

,month,year,fips_state_county_code,population,fraud_tot_arrests,weapons_tot_arrests,gamble_bookmake_tot_arrests,drunkenness_tot_arrests,curfew_loiter_tot_arrests,poss_drug_total_tot_arrests,...,theft_tot_arrests,sale_synth_narc_tot_arrests,sale_other_drug_tot_arrests,total_drug_tot_arrests,grand_total,arrest_rate_gt,day,date,post_treatment,treatment
1,April,2019,08014,70798,6,0,0,0,0,21,...,43,0,4,26,176,248.594593,01,2019-04-01,0,0
2,April,2019,08031,728941,33,73,0,0,26,306,...,196,1,5,350,3227,442.697008,01,2019-04-01,0,1
4,April,2020,08014,71795,2,1,0,0,0,2,...,18,0,0,3,52,72.428442,01,2020-04-01,0,0
5,April,2020,08031,737709,18,62,0,0,7,89,...,166,0,5,111,1580,214.176593,01,2020-04-01,0,1
7,August,2019,08014,70798,7,0,0,0,0,15,...,20,0,2,18,164,231.644962,01,2019-08-01,0,0
8,August,2019,08031,728941,33,89,0,0,19,289,...,245,0,14,360,3468,475.758669,01,2019-08-01,0,1
10,August,2020,08014,71795,5,0,0,0,0,3,...,16,0,0,3,63,87.749843,01,2020-08-01,1,0
11,August,2020,08031,737709,13,68,0,0,15,140,...,105,0,11,174,1883,255.249699,01,2020-08-01,1,1
13,December,2019,08014,70798,6,1,0,0,0,27,...,39,0,0,31,183,258.481878,01,2019-12-01,0,0
14,December,2019,08031,728941,23,56,0,0,0,231,...,188,0,6,277,2777,380.963617,01,2019-12-01,0,1
16,December,2020,08014,71795,2,5,0,0,0,6,...,17,0,1,7,78,108.642663,01,2020-12-01,1,0
17,December,2020,08031,737709,18,68,0,0,1,138,...,145,2,18,185,1883,255.249699,01,2020-12-01,1,1
19,February,2019,08014,70798,9,3,0,0,0,23,...,23,0,1,24,155,218.932738,01,2019-02-01,0,0
20,February,2019,08031,728941,38,79,0,0,1,294,...,221,2,6,343,2955,405.382603,01,2019-02-01,0,1
22,February,2020,08014,71795,3,0,0,0,0,27,...,29,0,0,29,162,225.642454,01,2020-02-01,0,0
23,February,2020,08031,737709,28,72,0,1,0,221,...,193,1,18,305,2892,392.024497,01,2020-02-01,0,1
25,January,2019,08014,70798,2,3,0,0,0,13,...,12,0,0,13,110,155.371621,01,2019-01-01,0,0
26,January,2019,08031,728941,34,72,0,0,0,358,...,237,0,12,414,3194,438.169893,01,2019-01-01,0,1
28,January,2020,08014,71795,6,0,0,0,0,19,...,27,0,1,21,144,200.571070,01,2020-01-01,0,0
29,January,2020,08031,737709,38,99,0,0,7,305,...,213,0,16,359,3402,461.157448,01,2020-01-01,0,1
31,July,2019,08014,70798,3,0,0,0,0,14,...,34,0,0,14,131,185.033476,01,2019-07-01,0,0
32,July,2019,08031,728941,42,77,0,0,36,302,...,229,0,22,373,3291,451.476868,01,2019-07-01,0,1
34,July,2020,08014,71795,0,0,0,0,0,4,...,25,0,0,5,76,105.856954,01,2020-07-01,1,0
35,July,2020,08031,737709,20,61,0,0,12,120,...,84,0,14,157,1715,232.476491,01,2020-07-01,1,1
37,June,2019,08014,70798,0,0,0,0,0,21,...,42,0,0,22,148,209.045453,01,2019-06-01,0,0
38,June,2019,08031,728941,20,65,0,0,46,273,...,194,0,16,347,3078,422.256397,01,2019-06-01,0,1
40,June,2020,08014,71795,0,1,0,0,0,6,...,12,0,0,6,62,86.356989,01,2020-06-01,1,0
41,June,2020,08031,737709,17,78,0,0,15,70,...,129,1,8,92,1693,229.494286,01,2020-06-01,1,1
43,March,2019,08014,70798,7,3,0,0,0,25,...,17,0,2,31,170,240.119777,01,2019-03-01,0,0
44,March,2019,08031,728941,31,74,0,0,4,287,...,226,0,12,329,3058,419.512690,01,2019-03-01,0,1
46,March,2020,08014,71795,3,1,0,0,0,17,...,16,0,1,18,109,151.821157,01,2020-03-01,0,0
47,March,2020,08031,737709,19,57,0,0,4,159,...,180,0,14,208,2356,319.367122,01,2020-03-01,0,1
49,May,2019,08014,70798,4,3,0,0,0,20,...,34,0,0,20,157,221.757677,01,2019-05-01,0,0
50,May,2019,08031,728941,24,62,0,0,40,328,...,180,1,12,373,3307,453.671834,01,2019-05-01,0,1
52,May,2020,08014,71795,4,1,0,0,0,1,...,18,0,0,1,60,83.571279,01,2020-05-01,0,0
53,May,2020,08031,737709,26,85,0,0,30,174,...,148,2,11,221,2386,323.433766,01,2020-05-01,0,1
55,November,2019,08014,70798,8,2,0,0,0,17,...,43,0,1,18,151,213.282861,01,2019-11-01,0,0
56,November,2019,08031,728941,19,76,0,0,0,231,...,212,2,6,279,2735,375.201834,01,2019-11-01,0,1
58,November,2020,08014,71795,1,1,0,0,0,1,...,14,0,0,1,40,55.714186,01,2020-11-01,1,0
59,November,2020,08031,737709,18,47,0,0,3,94,...,93,0,6,114,1541,208.889955,01,2020-11-01,1,1
61,October,2019,08014,70798,12,2,0,0,0,23,...,31,0,1,27,162,228.820023,01,2019-10-01,0,0
62,October,2019,08031,728941,30,62,0,0,4,237,...,217,1,13,310,2980,408.812236,01,2019-10-01,0,1
64,October,2020,08014,71795,7,1,0,0,0,14,...,15,0,0,14,106,147.642593,01,2020-10-01,1,0
65,October,2020,08031,737709,14,66,0,0,0,124,...,115,2,11,170,1917,259.858562,01,2020-10-01,1,1
67,September,2019,08014,70798,6,2,0,0,0,32,...,26,0,1,36,206,290.968671,01,2019-09-01,0,0
68,September,2019,08031,728941,26,89,0,0,25,241,...,220,1,4,296,3071,421.296099,01,2019-09-01,0,1
70,September,2020,08014,71795,0,1,0,0,0,7,...,27,0,0,7,95,132.321192,01,2020-09-01,1,0
71,September,2020,08031,737709,23,77,0,0,2,143,...,93,0,17,200,1838,249.149732,01,2020-09-01,1,1

# Modeling

In [224]:
model = smf.ols('arrest_rate_gt ~ treatment + post_treatment + treatment * post_treatment',
                data=non_violent_df).fit()

print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:         arrest_rate_gt   R-squared:                       0.814
Model:                            OLS   Adj. R-squared:                  0.802
Method:                 Least Squares   F-statistic:                     64.28
Date:                Sat, 02 Apr 2022   Prob (F-statistic):           4.04e-16
Time:                        13:12:24   Log-Likelihood:                -257.60
No. Observations:                  48   AIC:                             523.2
Df Residuals:                      44   BIC:                             530.7
Df Model:                           3
Covariance Type:            nonrobust
============================================================================================
                               coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------------------
Intercept                  202.1228     13.127     15.397      0.000     175.667     228.579
treatment                  198.1924     18.565     10.676      0.000     160.778     235.607
post_treatment             -98.6536     24.307     -4.059      0.000    -147.641     -49.667
treatment:post_treatment   -60.1804     34.375     -1.751      0.087    -129.458       9.098
==============================================================================
Omnibus:                       20.331   Durbin-Watson:                   1.602
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               28.993
Skew:                          -1.402   Prob(JB):                     5.06e-07
Kurtosis:                       5.575   Cond. No.                         6.36
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.